.App{
  background-color: lightgray;
  height: auto;
  width: 100%;
  font-family: 'Roboto', 'sans-serif';
  padding-bottom: 20px;
}

@media(max-width:819px){
  .App{
    height: 100vh;
  }
}

@media(max-width:409px){
  .App{
    height: auto;
  }
}
